@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
  font-family: poppins;
  padding: 0;
  margin: 0;
  /* background: #54b2a9  ; */
}

.nav-bar {
  background-color: #009688;
  padding: 15px;
}

.nav-bar h3 {
  background-color: #009688;
}