@import "mdb-ui-kit/css/mdb.min.css";

body {
	/* background-color: black; */
	padding-bottom: 5vh;
	/* color: white; */
}

.button-patchnote-first {
	border-radius: 25px 25px 0 0 !important;
}

.button-patchnote-last {
	border-radius: 0 0 25px 25px !important;
}

.button-custom {
	border: none;
	background-color: transparent;
}

.button-custom:hover,
.button-custom:active {
	border: none;
	background-color: white;
}

.padding-table {
	padding-inline: 10px;
}

.table-style-mantul {
	border-radius: 5% !important;
}
