@import "mdb-ui-kit/css/mdb.min.css";

body {
	background-color: aqua;
}

.button-patchnote-first {
	border-radius: 25px 25px 0 0 !important;
}

.button-patchnote-last {
	border-radius: 0 0 25px 25px !important;
}
